/* Importar fuentes */
@font-face {
font-family: "nevis";
src: url("./fonts/nevis.eot");
src: url("./fonts/nevis.eot?#iefix") format("emdedded-opentype"),
url("./fonts/nevis.woff") format("woff"),
url("./fonts/nevis.ttf") format("truetype"),
url("./fonts/nevis.svg") format("svg");
font-weight: normal;
font-style: normal;
}

/* ELEMENTOS GENERALES  */

*{

    padding: 0px;
    margin: 0PX;
}

body{

background-image: url(../img/fondocorazon.jpg);
background-size: 95%;
background-attachment: fixed;


}

a {

    color: rgb(0, 136, 255);
    text-decoration: none;
    text-align: center;
}



a:visited {

    color: rgb(0, 182, 243);
}




a:hover {

    color: rgb(255, 0, 0);
}


.clearfix{
    float: none;
    clear: both;
}


/* ELEMENTOS GENERALES TERMINA */

/* formularios estilo y botones */

input[type="text"],
input[type="email"],
input[type="password"],
select
{

border: 1px solid blue;
box-shadow: 0px 0px 12px rgb(212, 0, 255) inset;
background: white;
padding: 1px;
padding-top: 3px;
padding-bottom: 3px;
color: blue;
transition: all 700ms;
}


/* aqui se agrega focus para cuando pase el mause en los input tengan efecto */

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus
{
border: 3px solid rgba(42, 92, 255, 0.657);
color: black;
}

/* efectos botones */

input[type="button"],
input[type="submit"],
input[type="reset"],
button {

display: block;
border-radius: 5px;
border: 1px solid blueviolet;
width: 60px;
padding: 4px;
background-color: whitesmoke;
cursor: pointer;
}


input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
box-shadow: 0px 0px 5px black;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button {
    box-shadow: 0px 0px 10px black inset;
    text-shadow: 2px 2px 12px rgb(63, 88, 213);
}

/* formularios estilo termina*/





/* ELEMENTOS DE CABECERA */
header{
width: 100%;
min-width: 100%;
height: 250px;
margin: 0px auto;
padding: 7px;


}


header a{
text-decoration: none;
}

#header #logotipo {

width: 770px;
margin: 0px auto;
padding-top: 9px;

}

#header #logotipo img{
display: block;
text-align: center;
margin: 0px auto;
width: 200px;
letter-spacing: 10px;

}

#header h1 {


    text-align: center;
    font-size: 40px;
    font-family: "nevis";
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0px;

    text-shadow: 1px 5px  10px  black;
    transition: all 600ms;

}


#header h1:hover{

    text-shadow: 1px 5px  10px  black, 1px 10px 10px blue;


}

#header h1 a {


    text-align: center;
    font-size: 40px;
    color: pink;


}



/* ELEMENTOS DE CABECERA FIN  */



/* MENU NAVEGACION */
#nav {

    width: 100%;
    height: 40px;
    background-color: rgb(0, 170, 254);
    color: aliceblue;
    font-family: nevis, Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0px 3px 5px black;

    }

    #nav > ul {
list-style: none;
text-decoration: none;
margin: 0px auto;
width: 100%;
    }


#nav > ul > li {
line-height: 40px;
float: left;
border-right: 4px solid pink;
text-transform: uppercase;
text-align: center;
}

#nav > ul > li  a {

    display: block;
    text-decoration: none;
    padding-left: 110px;
    padding-right: 110px;
    color: aliceblue;
    text-decoration: none;

}

#nav > ul > li > a:first-child {
    border-left: 4px solid pink;

}



#nav > ul > li:hover {
background-color:rgb(217, 105, 195);
box-shadow: 0px 0px 10px rgb(25, 25, 25) inset;
transition: all 700ms;
}

/* TERMINO MENU NAVEGACION  */









/* MENU DESPLEGABLE */

#nav > ul > li > ul

{
display: none;
position: absolute;
width: 317px;
box-shadow: 2px 2px 4px black;
z-index: 1;


}

#nav ul > li:hover >ul {

display: block;

}

#nav ul > li:hover >ul > li {

    background-color: rgb(0, 110, 255);
    border-bottom: 3px solid palevioletred ;
    padding: 5px;
    line-height: 20px;
    color: pink;
    transition: all 700ms;


    }

    #nav ul > li:hover >ul > li > a {


        color: pink;

        }

        #nav ul > li:hover >ul > li :hover {
            transition: all 700ms;

        box-shadow: 0px 0px 8px inset rgb(255, 255, 255);

            color: rgb(0, 0, 0);
            background-color: pink;

            }

    /* termina menu desplegable */

            /* contenido principal de la pagina  */




#content{

    width: 1200px ;
    min-height: 1200px;
    margin: 0px auto;
}

/* contenido barra lateral */

#aside, #frase {

width: 200px;
float: left;
background-color: rgba(255, 0, 234, 0.289);
border: 1px solid rgba(0, 0, 255, 0.419);
box-shadow: 2px 2PX 20PX rgb(206, 99, 117);
font-family: nevis, Arial, Helvetica, sans-serif;
color: whitesmoke;
}

#frase {
    /* clear: both; */

width: 180px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#aside .widget {
display: block;
width: 180px;
margin: 5px auto;
padding: 8px;
padding-left: 10px;
padding-right: 10px;

}

#aside .widget:last-child {
margin-bottom: 30px ;

}

#aside h3 {
display: block;
width: 100%;
text-align: center;
padding-top: 3px;
padding-bottom: 3px;
margin-bottom: 15px;
background-color: blueviolet;
border: 1px solid white;
border-left: none;
border-right: none;

}

#aside li{

margin-top: 8px;
margin-bottom: 8px;
margin-left: 20px;
list-style: square;
}

.azul {
-webkit-text-stroke: .5px  rgba(255, 255, 255, 0.503);
color: rgb(0, 64, 255); !important

}
}

}

/* Formulario estructura final barra lateral */

#aside div label,
#aside div input,[type="text"],
#aside div input,[type="email"],
#aside div input,[type="password"],
#aside div a {
    display: block;
    width: 95%;
    margin-bottom:2px;

}

#aside div input [type="button"],
#aside div input [type="submit"],
#aside div input button

{
    margin-top: 5px;
    margin-bottom: 10px;

}

#aside input,
#aside label {

margin: 0px auto;
text-align: center;

}


/* estilo secciones principales  */

#sections {
float: right;
width: 75%;
font-family: Arial, Helvetica, sans-serif;
margin-right: 20px;

}

#sections .titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
margin-top: -10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 115, 247);

}

#sections section {
margin-top: 40px;
background-color: rgba(255, 192, 203, 0.38);
padding: 20px;
border: 1px solid rgba(0, 0, 255, 0.503);
font-size: 16px;
overflow: hidden;


}

#sections .article{

    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sections .date {

    color: blueviolet;
    font-size: 14px;
    font-weight: bold;

}

#sections .stickerone,
#sections .stickertwo{

position: absolute;
margin-top: -38px;
z-index: 0;

}

#sections .stickertwo{

    margin-left: 800px;

}

.history {
float: right;
margin-top: 20px;
margin-right: 20px;
font-family: Arial, Helvetica, sans-serif;

} 




/* FIN del estilo secciones principales  */


/* INICIO footer o pie de pagina */


#footer { 

width: 100%;
margin: 0px auto;
text-align: center;
margin-top: 40px;
margin-bottom: 10px;
background-color: rgba(0, 136, 255, 0.597);
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
box-shadow: 0px 0px 10px rgb(0, 0, 0);

}





/* FINAL footer o pie de pagina */












